@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-torner {
  background-image: url('./media//backgroundxd.png');
}

@media (min-width:400px) {
  .bg-torner{
    background-image: url('./media/bgcd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
  }
}
